.columnas ul{
    display: flex;
    justify-content: space-between;
}
a{
    text-decoration: none;
}
.columnas ul li{
    list-style: none;
    text-align: center;
    margin: 5px;
}
.custom-logo{
    width: 134px;
    height: auto;
}
.promocion-nav{
    width: auto;
    height: 38px;
}
.bg-principal{
    background-color: #fff159;
}
.w-20{
    width: 20% !important;
}

.woocommerce-loop-product__title{

}
.button{
    background-color: rgba(65,137,230,.15);
    border-color: transparent;
    color: #3483fa;
}