body
{
  background-color: #ededed;
  list-style: none;

}

.boton-footer
{
  background-color: #ededed !important;
  border: 0px !important;
}

.columnas ul
{
  display: flex;
  justify-content: space-between;
}

.responsivo ul
{
  display: contents !important;
}

.responsivo ul li
{
  text-align: start !important;
  width: 50% !important;
}

.columnas-footer ul
{
  display: flex;
}

.columnas-footer ul li
{
  list-style: none;
  text-align: center;
  margin: 5px;
}

a
{
  text-decoration: none;
}

.columnas ul li
{
  list-style: none;
  text-align: center;
  margin: 5px;
}

.custom-logo
{
  width: 134px;
  height: auto;
}

.promocion-nav
{
  width: auto;
  height: 38px;
}

.bg-principal
{
  background-color: #fff159;
}

.w-20
{
  width: 20% !important;
}

.verde
{
  color: #00a65a;
}

.cart-collaterals
{
  width: auto !important;
}

#loading-screen
{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: white;
  opacity: 1;
  z-index: 99;
}

.spinner-border
{
  position: absolute;
  top: 50%;
  left: 50%;
}

.ver
{
  position: absolute;
  visibility: hidden;
}

.fs-personalizado
{
  font-size: 70px;
}

.site-footer
{
  position: relative;
  min-height: 15vh;
}

.footer-container
{
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 10px;
}

.titulo-footer
{
  font-weight: 600;
  margin: 0 0 5px;
  margin-bottom: 14px;
  font-size: 14px;
  color: #333;
}

.circulo
{
  width: 6px !important;
  height: 6px !important;
  background-color: #333 !important;
  border: 2px solid #fff !important;
}

footer a
{
  font-size: 14px;
  color: #999;
}

footer .responsivo li
{
  width: 100% !important;
}

.beneficio
{
  position: relative;
  z-index: 0;
  height: 250px;
  width: auto;
}

.beneficio .card-body
{
  z-index: 2;
  -webkit-align-items: center;
  align-items: center;
  bottom: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display: -webkit-flex;
  display: flex;
  left: 0;
  padding: 16px;
  position: absolute;
  width: 100%;
}

.beneficio .fondo
{
  position: absolute;
  z-index: 1;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: top;
  object-position: top;
  position: absolute;
  width: 100%;
}

.beneficio .titulo
{
  font-size: 22px;
  font-weight: 600;
  line-height: 1.09;
}

.beneficio .ante-titulo
{
  font-size: 12px;
  font-weight: 600;
  line-height: 1.33;
  margin-bottom: 4px;
}

.beneficio .subtitulo
{
  font-size: 18px;
  letter-spacing: .4px;
  line-height: 1.11;
  margin-top: 4px;
}

.tarjeta-info:nth-child(2):before
{
  background-color: #e2e2e2;
  content: "";
  display: block;
  height: 65px;
  margin-top: -32.5px;
  position: absolute;
  top: 50%;
  width: 1px;
}

.tarjeta-info:nth-child(2):after
{
  right: 0;
  background-color: #e2e2e2;
  content: "";
  display: block;
  height: 65px;
  margin-top: -32.5px;
  position: absolute;
  top: 50%;
  width: 1px;
}

.imagen
{
  height: 46px !important;
  width: auto !important;
}

.raya::before
{
  background-color: #3483fa;
  bottom: 4px;
  content: "";
  left: 4px;
  position: absolute;
  top: 4px;
  width: 4px;
}

.img-sub
{
  width: 72px;
  height: 72px;
}

.header-sub
{
  background: linear-gradient(var(--deg_loyalty), var(--first_color_loyalty) var(--percentage_loyalty), var(--second_color_loyalty) 100%);
}

.h2-sub
{
  font-size: 26px;
  font-weight: 600;
  line-height: 30px;
}

.puntero
{
  cursor: pointer;
}

.cuadrado
{
  width: 170px;
  height: 170px;
  cursor: pointer !important;
}

.cuadrado-2
{
  height: 170px;
  cursor: pointer !important;
}

.esfera
{
  width: 80px !important;
  height: 80px !important;
}

.populares .carousel-control-prev
{
  opacity: 0 !important;

}

.populares .carousel-control-prev:hover
{
  opacity: 1 !important;
}

.populares .carousel-control-next
{
  opacity: 0 !important;

}

.populares .carousel-control-next:hover
{
  opacity: 1 !important;
}

#bannerSuperior .carousel-control-prev
{
  opacity: 0 !important;
}

#bannerSuperior .carousel-control-prev:hover
{
  opacity: 1 !important;
}

#bannerSuperior .carousel-control-next
{
  opacity: 0 !important;
}

#bannerSuperior .carousel-control-next:hover
{
  opacity: 1 !important;
}

.fs-p
{
  font-size: 15px;
}

.oculto
{
  display: none;
}

#carrusel-productos .slick-prev
{
  position: absolute;
  z-index: 3;
  bottom: 50%;
  left: -40px;
  opacity: 0;
}

#carrusel-productos .slick-prev:hover
{
  opacity: 1;
}

#carrusel-productos .slick-next
{
  position: absolute;
  z-index: 3;
  bottom: 50%;
  right: -40px;
  opacity: 0;
}

#carrusel-productos .slick-next:hover
{
  opacity: 1;
}

.productos
{
  height: 70px;
  width: 70px;
}

.tiendas .card
{
  height: 340px;
}

.slick-next:before
{
  content: '';
}

.slick-prev:before
{
  content: '';
}

.tiendas .miniatura
{
  height: 80px;
  width: 80px;
}

.tiendas .fondo
{
  top: 0;
  z-index: 0;
}

.tiendas .uno
{
  z-index: 1;
}

ol
{
  margin: 0px 10px 0px 0px;
  padding: 0;
}

ol li
{
  cursor: pointer;
  list-style: none;
  margin-bottom: 10px;
}

ol li img
{
  border: #999 solid 1px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

ol li img:hover
{
  border: #3483fa solid 1px;
}

ol li .flex-active
{
  border: #3483fa solid 1px;
}

.woocommerce-notice--info
{
  border-radius: var(--bs-border-radius-lg) !important;
  --bs-border-opacity: 1;
  border: #3483fa solid 1px;

}

.shop_table
{
  background-color: #fff;
}

.woocommerce-checkout-payment
{
  background-color: #fff !important;
}

.checkout-button
{
  background-color: #3483fa !important;

}

.wp-element-button
{
  background-color: #3483fa !important;
}

.wc-proceed-to-checkout a
{
  width: 100%;
}

.coupon .input-text
{
  width: 140px !important;
}

.cart_totals
{
  width: 100% !important;
}

.woocommerce-error
{
  border: 1px solid #dc3545;
  /* Establece un borde rojo */
  border-radius: 0.25rem;
  /* Establece un borde redondeado */
}

.woocommerce-message
{
  border: 1px solid #00a65a;
  border-radius: 0.25rem;
  /* Establece un borde redondeado */
}

.woocommerce-Tabs-panel--additional_information
{
  display: block !important;
}

.woocommerce div.product .woocommerce-tabs ul.tabs
{
  display: none;
}
.product{
  position: relative;
}
.pegado
{
  position: absolute;
  right: 0;
  z-index: 5;
}
.sticky {
  position: sticky;
  top: 40px;
  right: 0;
  z-index: 5;
}
.single_add_to_cart_button{
  background-color: #3483fa !important;
}
#place_order{
  background-color: #3483fa !important;
}
.flex-viewport
{
  width: 600px;
}

.woocommerce-product-gallery
{
  justify-content: start;
}

.no-ocultar
{
  display: none;
}
.woocommerce div.product form.cart
  {
    height: 120px !important;
    margin-bottom: 0px;
  }
  .price{
    color: #000 !important;
  }
  .pago .price{
    width: 70%;
  }
  .mitad{
    width: 50px;
  }
  .img-tarjetas
  {
    height: 32px;
  }
  header a{
    color: rgba(51,51,51,.6);
  }
  a{
    color: #000;
  }
  a:hover{
    color: #000;
  }
  a:visited{
    color: #000;
  }

  header ul{
    margin: 0;
  }
  .grande{
    font-size: 36px;
  }
  .porcentaje{
    color: #00a65a;
  }
  a:visited{
    color: rgba(51,51,51,.6);
  }
  #tarjetas{
    height: 370px;
  }
  #relacionados .card{
    height: 500px
  }
  .catorce{
    font-size: 14px;
    padding-left: 0;
    padding-right: 0;
  }
  .woocommerce-loop-product__title{
    font-size: 24px;
    color: #000 !important;
  }
  #home-page .miniatura{
    height: 350px
  }
  #home-page .price ins{
    background-color: transparent;
  }
  .espacio{
    height: 170px
  }
@media screen and (max-width: 768px)
{
  .ocultar
  {
    display: none;
  }

  .no-ocultar
  {
    display: block;
  }

  .pegado
  {
    position: relative;
    top: auto;
    z-index: 1;
  }
  body
  {
    overflow-x: hidden !important;
  }

  .cart-collaterals
  {
    width: 100% !important;
  }

  .no-ver
  {
    position: absolute;
    visibility: hidden;
    display: none !important;
  }

  .ver
  {
    position: relative;
    visibility: visible;
  }

  #carrusel-productos .slick-slide
  {
    width: calc(100% / 2);
    /* ajusta el ancho de cada slide al 50% del ancho de la pantalla */
  }
}