body {
  line-height: 1.6;
  background: #2a2929;
  background: -webkit-gradient(linear, left top, left bottom, from(#2a2929), color-stop(21%, #171717));
  background: linear-gradient(180deg, #2a2929 0%, #171717 21%);
  font-family: "Open Sans", sans-serif;
  color: #fff;
}

a {
  color: #b3b3b3;
  text-decoration: none;
}

a:visited {
  color: #fff !important;
}

a:hover {
  color: #fff !important;
}

.btn-link {
  color: #505050;
  text-decoration: none;
}

.btn-link:visited {
  color: #505050 !important;
}

.btn-link:hover {
  color: #fff !important;
}

h1 {
  font-size: 5.5rem;
  font-weight: 900;
  letter-spacing: -0.08em;
}

.fondo-gris {
  background: #454444;
  background: -webkit-gradient(linear, left top, left bottom, from(#454444), color-stop(42%, #818181), to(#171717));
  background: linear-gradient(180deg, #454444 0%, #818181 42%, #171717 100%);
}

.verde {
  color: #1ed760;
}

.registrarse {
  height: 6%;
  width: 100%;
  background: #ea20ff;
  background: -webkit-gradient(linear, left top, right top, from(#ea20ff), color-stop(32%, #942ce3), color-stop(76%, #76b0e0), to(#74bbe0));
  background: linear-gradient(90deg, #ea20ff 0%, #942ce3 32%, #76b0e0 76%, #74bbe0 100%);
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 6;
}
.registrarse a {
  font-weight: 700;
  color: #171717 !important;
}
.registrarse .texto-1 {
  font-size: 0.75rem;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 0.1em;
}
.registrarse .texto-2 {
  font-size: 1rem;
  font-weight: 400;
}

.ancho {
  width: 100%;
}

.alto {
  height: 90%;
}

.boton {
  width: 50px;
  height: 50px;
}

.footer ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.estatico {
  position: fixed;
  top: 0px;
  z-index: 5;
}

.w-personalizado {
  width: 90% !important;
  background-color: rgba(7, 7, 7, 0.8);
}

.navegacion {
  background-color: #000000;
  height: 100vh;
}
.navegacion .texto {
  font-size: 0.875rem;
  font-weight: 700;
}
.navegacion .ancho {
  width: 95%;
}
.navegacion .enlaces {
  font-size: 0.6875rem;
  font-weight: 400;
  margin: 32px 0;
  padding: 0 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.navegacion .enlaces .ordenar {
  margin-right: 16px;
  height: 31.594px;
}

.width-100 {
  width: 93% !important;
}

.arriba {
  margin-top: 5.5rem !important;
}

.sticky {
  position: -webkit-sticky;
  position: sticky;
  top: 66px;
  z-index: 5;
}

.bg-sticky {
  background-color: rgba(7, 7, 7, 0.8);
}

.oculto {
  visibility: hidden;
  position: absolute;
}

.miniatura {
  height: 35vh;
  background-color: #181818;
}
.miniatura .card-title {
  color: #fff;
  font-size: 1rem;
  font-weight: bold;
}
.miniatura .card-body {
  font-size: 0.875rem;
  font-weight: 400;
  color: #505050;
}
.miniatura .antes-visible {
  right: -7px;
  bottom: 167px;
}
.miniatura .visibilidad {
  opacity: 0;
}

.miniatura:hover {
  background-color: #272727;
}
.miniatura:hover .visibilidad {
  opacity: 1;
  pointer-events: auto;
}

.encimera {
  position: relative;
}
.encimera .visibilidad {
  position: absolute;
  left: 0;
  top: -7px;
  opacity: 0;
}
.encimera .visibilidad:hover {
  opacity: 1;
}

.lista a {
  font-size: 1rem;
  font-weight: 400;
}
.lista .perfil {
  font-size: 0.875rem;
}
.lista span {
  color: #6b6b6b;
}
.lista a:hover {
  text-decoration: underline;
}

.footer h3 {
  color: white;
  font-size: 1rem;
  font-weight: 700;
}
.footer a {
  color: #9da594 !important;
  font-size: 1rem;
  font-weight: 400;
}
.footer a:hover {
  color: #fff !important;
}
.footer li a {
  margin: 8px 0px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}
.footer li a:hover {
  color: #fff !important;
  text-decoration: underline;
}

.negro {
  color: #181818 !important;
}

.negro:visited {
  color: #181818 !important;
}
.menu-nav-container ul{
  flex-direction: row;
  --bs-nav-link-padding-x: 0 !important;
  --bs-nav-link-padding-y: 0.5rem !important;
  --bs-nav-link-font-weight:  !important;
  --bs-nav-link-color: var(--bs-navbar-color) !important;
  --bs-nav-link-hover-color: var(--bs-navbar-hover-color) !important;
  --bs-nav-link-disabled-color: var(--bs-navbar-disabled-color) !important;
  display: flex !important;
  padding-left: 0 !important;
  margin-bottom: 0 !important;
  list-style: none !important;
  
}
.menu-nav-container li{
  display: list-item !important;
    text-align: -webkit-match-parent !important;
    margin-right: 10px !important;
}
.menu-nav-container a{
  display: block !important;
  padding: var(--bs-nav-link-padding-y) var(--bs-nav-link-padding-x) !important;
  font-size: var(--bs-nav-link-font-size) !important;
  font-weight: var(--bs-nav-link-font-weight) !important;
  color: var(--bs-nav-link-color) !important;
  text-decoration: none !important;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out !important;
}
.menu-nav-container li:last-of-type{
  border-radius: var(--bs-border-radius-2xl)!important;
  --bs-text-opacity: 1 !important;
  color: rgba(var(--bs-dark-rgb),var(--bs-text-opacity))!important;
  padding-left: 1.5rem!important;
  padding-right: 1.5rem!important;
  width: 170px !important;
  --bs-btn-bg: #f8f9fa !important;
  --bs-btn-border-color: #f8f9fa !important;
  --bs-btn-hover-color: #000 !important;
  --bs-btn-hover-bg: #d3d4d5 !important;
  --bs-btn-hover-border-color: #c6c7c8 !important;
  --bs-btn-focus-shadow-rgb: 211,212,213 !important;
  --bs-btn-active-color: #000 !important;
  --bs-btn-active-bg: #c6c7c8 !important;
  --bs-btn-active-border-color: #babbbc !important;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125) !important;
  --bs-btn-disabled-color: #000 !important;
  --bs-btn-disabled-bg: #f8f9fa !important;
  --bs-btn-disabled-border-color: #f8f9fa !important;
  background-color: #fff !important;
}
.menu-nav-container li:last-of-type a{
  color: #000 !important;
}



.ver{
  position: absolute !important;
  visibility: collapse !important;
}
.menu-nav-responsivo{
  position: absolute;
  visibility: collapse;
}
.menu-nav-responsivo-container ul{
  flex-direction: column;
  --bs-nav-link-padding-x: 0;
  --bs-nav-link-padding-y: 0.5rem;
  --bs-nav-link-font-weight: ;
  --bs-nav-link-color: var(--bs-navbar-color);
  --bs-nav-link-hover-color: var(--bs-navbar-hover-color);
  --bs-nav-link-disabled-color: var(--bs-navbar-disabled-color);
  display: flex;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
  
}
.menu-nav-responsivo-container li{
  display: list-item;
    text-align: -webkit-match-parent;
    margin-right: 10px;
}
.menu-nav-responsivo-container a{
  display: block;
  padding: var(--bs-nav-link-padding-y) var(--bs-nav-link-padding-x);
  font-size: var(--bs-nav-link-font-size);
  font-weight: var(--bs-nav-link-font-weight);
  color: var(--bs-nav-link-color);
  text-decoration: none;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out;
}
.site-branding{
    position:absolute;
    visibility: hidden;
}
.navbar .custom-logo{
  position: absolute;
  visibility: hidden;
}
@media (max-width: 768px) {
  h1{
    font-size: 3.5rem;
  }
  .no-ver {
    position: absolute;
    visibility: hidden;
  }
.menu-nav-responsivo{
  position: relative;
  visibility: visible;
}
  .w-personalizado {
    width: 100% !important;
    background-color: #070707;
  }
  .ver{
    position: relative !important;
    visibility: visible !important;
  }
  .sticky {
    top: 56px;
  }

  .miniatura {
    height: 35vh;
  }
  .w-personalizado .estatico{
      width:100% !important;
  }
  .navbar .custom-logo{
    position: relative;
    visibility: visible;
    width: 100px !important;
  }
}

/*# sourceMappingURL=estilos.css.map */
